.DS_Store
**/.DS_Store
**/*.csv
**/*.pdf
auto-print/*.txt
auto-print/R05B_Portage_Sample/*
auto-print/R05B_Portage_Sample
~*
**/~*
!*/district_rename_csv.csv
!*/region_rename_csv.csv

# oath stuff for gdrive integration
*credentials-sheets.json
token-drive.pickle
token-sheets.pickle
!auto-print/misnames.csv
!auto-print/prios.csv
.env
